<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todey - To-do List App</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
    
    <div class="box">
        
        <% listItems.forEach((item)=>{%>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <%}); %>
            
        <form class="item" action="/" method="post">
            <input type="text" name="item" placeholder="New Item" autofocus autocomplete="off">
            <button type="submit">+</button>
        </form>    

    </div>
    </body>

    <footer>&copy Made by Shubh Saxena</footer>
    </html>